<% include("cbi/map") %>
<script type="text/javascript">
	const _id2section = (id) => {
		const x = id.split(".");
		return x[2];
	};

	const onclick_awake = (id) => {
		const section = _id2section(id);
		const btnXHR = new XHR();
		btnXHR.post(`<%=url([[admin]], [[services]], [[wolplus]], [[awake]])%>/${section}`, { token: '<%=token%>' },
			(x) => {
				if (x.responseText === "_uncommitted_") {
					alert("<%:Please [Save & Apply] your changes first%>".replace(new RegExp("<%:&%>", "g"), "&"));
				} else {
					alert(JSON.parse(x.response).data);
				}
			}
		);
	};
</script>